alias dps='docker ps --format "table {{.ID}}\t{{.Image}}\t{{.Status}}\t{{.Names}}"'
alias vim='nvim'
alias mongod-start='brew services run mongodb-community'
alias mongod-stop='brew services stop mongodb-community'

